#Single page htaccess for SPA(Single page application).
#Rewrite server settings to load index.html no matter the path given in a browser url.
#rewritebase and rewrite rule contains sub url because this application isn't serving from the root folder. 
#Remove sub urls if you are serving your app from the root folder.
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /jquery_spa/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /jquery_spa/index.html [QSA,L]
</IfModule>